@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

/* 500 and 700*/

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: var(--dark-grayish-blue);
}
body {
  padding: 2rem 1rem;
  background-color: var(--cream);
}
img {
  width: 100%;
}
h1,
.price {
  font-family: "Fraunces", serif;
}
h1 {
  color: var(--very-dark-blue);
  line-height: 1em;
  margin: 1rem 0 1.5rem 0;
}
.content p {
  line-height: 1.5rem;
}
.small-title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: var(--white);
}
.content {
  margin: 1.5rem 2rem;
}
.image .desktop {
  display: none;
}
.image .mobile {
  border-radius: 1rem 1rem 0 0;
}
.price-box {
  display: flex;

  align-items: center;
}
.price {
  color: var(--dark-cyan);
  margin-right: 1.5rem;
}
.old-price {
  text-decoration: line-through;
}
button {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  border-radius: 0.5em;
  padding: 1em;
  background-color: var(--dark-cyan);
  color: var(--white);
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: var(--very-dark-blue);
}
button img {
  width: 5%;
  margin-right: 1em;
}
button p {
  font-family: inherit;
  font-weight: 900;
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 568px) {
  .container {
    flex-direction: row;
    max-width: 520px;
  }
  h1 {
    margin-right: 2rem;
  }
  .image .desktop {
    display: block;
    border-radius: 1rem 0 0 1rem;
    flex-basis: 100%;
  }
  .content {
    flex-basis: 100%;
    margin: 2rem 1.2rem;
  }
  .image .mobile {
    display: none;
  }
}
